@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

:root[data-color-scheme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

main > div > div.relative {
  height: 100vh !important;
  padding-top: 0 !important;
}

main {
  justify-content: start !important;
}

.chat-wrapper {
  position: relative;
}

.chat-wrapper::before {
  content: "";
  position: absolute;
  top: 10px;      /* odsadenie odhora */
  left: 10px;     /* odsadenie zľava */
  width: 50px;    /* šírka loga */
  height: 50px;   /* výška loga, môžeš dať auto */
  background-image: url('icon.png'); /* cesta k logu */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

/* ============================= */
/* Uisti sa, že Chat obsah nezačne pod logom */
/* ============================= */
main > div > div.relative > * {
  padding-top: 70px !important; /* výška loga + odsadenie */
}
